import React from 'react';
import { Helmet } from "react-helmet-async";

import styles from './{{pascalCase name}}.module.scss'; 

const {{pascalCase name}} = () => {
	
	return (
		<div>
			<Helmet>
				<title>{{pascalCase name}}</title>
			</Helmet>
			<h1>{{pascalCase name}} Page</h1>
		</div>
	); 
}; 

export default {{pascalCase name}};